.header .links a:hover {
  border-bottom: 4px solid #49b3fb;
  -webkit-transition: .3s;
  transition: .3s;
}

.hero .contactUs .call:hover, .services-grid .serv-item .read-more:hover {
  -webkit-animation: float;
          animation: float;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 1s ease-in-out infinite;
          animation: float 1s ease-in-out infinite;
  -webkit-transition: .4s;
  transition: .4s;
  color: red;
  cursor: pointer;
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: rgba(73, 179, 251, 0.25) 0px 14px 55px, rgba(0, 0, 0, 0.17) 0px 12px 13px;
          box-shadow: rgba(73, 179, 251, 0.25) 0px 14px 55px, rgba(0, 0, 0, 0.17) 0px 12px 13px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  font-size: 24px;
  padding: 10px;
  border: 2px solid #49b3fb;
  border-radius: 14px;
  color: #000;
  text-align: center;
}

.header .logo:hover {
  border: 2px solid red;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .links a {
  margin-left: 20px;
  padding: 5px;
  border-bottom: 4px solid transparent;
}

.header .orderCall a {
  margin-left: 20px;
}

.header .orderCall img {
  padding: 8px;
  width: 50px;
  height: 50px;
  border: 2px solid #49b3fb;
  border-radius: 14px;
}

.header .orderCall img:hover {
  border: 2px solid red;
  -webkit-transition: .3s;
  transition: .3s;
}

.hero {
  padding-top: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.hero .hero-item {
  padding: 5px;
  margin-bottom: 100px;
}

.hero .hero-item h1 {
  margin: 50px 20px;
}

.hero .hero-item p {
  display: block;
  width: 70%;
  text-align: center;
}

.hero .hero-item img {
  min-width: 300px;
  width: 100%;
  border-radius: 14px;
}

.hero .contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
}

.hero .contactUs .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  padding: 10px;
  width: 90%;
  border-radius: 14px;
  background: #49b3fb;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

.hero .contactUs .call a {
  font-size: 24px;
  color: #000;
  font-weight: 700;
}

.services-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin: 50px 0;
}

.services-grid .serv-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(201, 233, 255, 0.2);
  padding: 20px 40px;
}

.services-grid .serv-item img {
  height: 85px;
  width: 75px;
}

.services-grid .serv-item h2 {
  margin: 30px 0;
}

.services-grid .serv-item .read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px;
  padding: 10px;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  border-radius: 14px;
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

.services-grid .serv-item .read-more img {
  width: 12px;
  height: 10px;
  margin-left: 10px;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #000;
  outline: none;
}

html {
  overflow-x: hidden;
  background: #EDEEF0;
  scroll-behavior: smooth;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
}

h1 {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  outline: none;
}

p {
  font-size: 18px;
  line-height: 110%;
}

button {
  outline: none;
  border: none;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.wrapper .heading {
  font-weight: 600;
  font-size: 56px;
  line-height: 135%;
  /* or 76px */
  text-align: center;
  color: #031126;
  margin: 40px 0;
}

.wrapper .section-p {
  text-align: center;
  margin: 0 5%;
  line-height: 120%;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */