%radiusAndShadow{
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    border-radius: 14px;
}
.services-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0;
    .serv-item{
        margin: 0 auto;
        background: rgba(201, 233, 255, 0.2);
        padding: 20px 40px;
        text-align: center;
            @extend %radiusAndShadow;
        img{
            height: 85px;
            width: 75px;
            margin: 10px 10px;
        }
        .item-head{
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            @media (max-width: 768px) {
                flex-direction: column;
            }
        }
        p{
            padding-top: 10px;
        }
        .table {
            display: block;
            width: 100%;
            .row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                div{
                    font-weight: 700;
                }
            }
            .thead{
                padding: 20px 0;
                border-bottom: 4px solid #000;
                @media (max-width: 740px) {
                    h2{
                        text-align: left;
                    }
                }
            }
            .tbody{
                padding: 10px 0;
                border-bottom: 1px solid #000;
                h3{
                    text-align: left;
                }
                div{
                    padding-left: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}
