$primary:rgba(73, 179, 251, 1);
$font:'Raleway', sans-serif;

%link-hover{
    border-bottom: 4px solid $primary;
    transition: .3s;
}

%btn-hover{
    animation-delay: 0.2s;
    transition: .4s;
    color: #fff;
    background: $primary;
    cursor: pointer;
}

@import 'intro';
@import 'header';
@import 'burger';

@import 'hero';
@import 'services';

@import 'media';
@import 'contsactWidget';





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
    color: #000;
    outline: none;
}
html{
    background: #EDEEF0;
    scroll-behavior: smooth;
    overflow: auto;
}
a{
    text-decoration: none;
    font-size: 20px;
}
button{
    outline: none;
    border: none;
}
p{
    font-weight: 900;
}

.wrapper{
    margin: 0 auto;
    width: 90%;
    position: relative;
    .heading{
        font-weight: 600;
        font-size: 56px;
        line-height: 135%;
        text-align: center;
        color: #031126;
        margin: 40px 20px;


    }
    .section-p{
        text-align: center;
        font-size: 22px;
        margin: 0 5%;
        line-height: 120%;
    }
}

.icons{
    padding: 8px;
    width: 50px;
    height: 50px;
    border: 2px solid $primary;
    border-radius: 14px;
    &:hover{
        border: 2px solid red;
        transition: .3s;
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #000;
}