$primary:rgba(73, 179, 251, 1);
$font:'Raleway', sans-serif;

%hoverEffect{
    border-bottom: 4px solid $primary;
    transition: .3s;
}

%hoveAnimation{
    animation: float;
    animation-delay: 0.2s;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 1s ease-in-out infinite;
    transition: .4s;
    color: red;
    cursor: pointer;
}

@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 10px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-10px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }


@import 'intro';
@import 'header';
@import 'hero';
@import 'services';




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
    color: #000;
    outline: none;
}
html{
    overflow-x: hidden;
    background: #EDEEF0;
    scroll-behavior: smooth;
}
h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}
h1{
    margin: 0;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 20px;
    outline: none;
}
p{
    font-size: 18px;
    line-height: 110%;
}
button{
    outline: none;
    border: none;
}
.wrapper{
    margin: 0 auto;
    width: 90%;
    .heading{
        font-weight: 600;
        font-size: 56px;
        line-height: 135%;
        /* or 76px */

        text-align: center;
        color: #031126;
        margin: 40px 0;
    }
    .section-p{
        text-align: center;
        margin: 0 5%;
        line-height: 120%;
    }
}

.footer{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}